.search_input {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a {
  color: #337ab7;
  text-decoration: none;
}

.pagination li a:hover {
  color: #23527c;
}

.pagination li.active a {
  color: #23527c;
  font-weight: bold;
}

.modal-allow-scroll {
  overflow-y: visible;
}

.modal-allow-scroll .modal-body {
  overflow-y: auto;
}

.modal-dialog {
  max-width: 500px;
  margin: 30px auto;
}

.modal-content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #ddd;
}
